
@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>xx省xx石油公司 油站 OA管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--收藏用logo图标-->
    <link rel="bookmark" type="image/x-icon" href="Content/Image/favicon-20180419020137274.ico" />
    <!--网站显示页logo图标-->
    <link rel="shortcut icon" href="Content/Image/favicon-20180419020137274.ico">
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <link href="~/layui/css/global.css" rel="stylesheet" />

    <style type="text/css">
        .site-demo-result {
            position: absolute;
            /* right: 0; */
            top: 0;
            bottom: 0;
            width: 100%;
        }
    </style>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/layui/layui.js"></script>
    <script type="text/javascript" src="~/layui/layui.all.js"></script>
    <script src="~/Scripts/jquery.json.js"></script>
    <script type="text/javascript">
        //文档加载完毕执行代码
        $(function () {

            //展开折叠菜单
            $(".layui-nav-item a").click(function () {
                if (!$(this).parent().eq(0).hasClass("layui-nav-itemed")) {
                    $(this).parent().eq(0).addClass("layui-nav-itemed");
                    return false;
                }
                else {
                    $(this).parent().eq(0).removeClass("layui-nav-itemed");
                    return false;
                }
            });

            
            //点击加载子菜单事件
            $(".layui-nav-item a").click(function () {
                //alert($(this).attr("parentmeunid"));
                var thisindex = $(this).parent();
                LoadChildMeun($(this).attr("parentmeunid"),thisindex);
            });

        });

        //修改密码
        function ModifyPassword() {
            var index = layer.load(3);
            layer.open({
                type: 2,
                anim: 1,
                content: "../Update/UpdatePwd",
                area: ['460px', '330px'],
                title: "修改密码"
            });
             layer.close(index);//请求完毕 关闭
        }

        //退出
        function Exit() {

            layer.confirm("确定要退出吗？",
                {
                    btn: ["确定", "取消"]
                }, function (index, layero) {
                    window.location.href = "/Home/Login";
                }, function () {
                    //取消操作的代码
                });
        }
        
        //子菜单加载
        function LoadChildMeun(parentmeun, thisindex) {
           // $(thisindex).find("div").append("<dl>1</dl>");
             $.post("/Home/ChildMenu",{ parentmeunid: parentmeun},
                    function (d,s)
                    {
                        $(thisindex).find("div").html("");
                        $(d).each(function (index, item) {
                            var str = "<dl><dd><a href='javascript:LoadMain("+"\""+(item.Url).toString()+"\""+")'  url='" + (item.Url == null ? "" : item.Url) + "'><i class='layui-icon' style='font-size:15px;'>&#xe" + Random() + ";</i>&nbsp;" + item.Name + "</a></dd></dl>";
                            //alert(str);
                            $(thisindex).find("div").append(str);
                        });
                        
                    }
                );
        }

        //随机数
        function Random() {
            var str = "";
            for (var i = 0; i < 3; i++) {
                var num = Math.random() * 6;
                str += parseInt(num);
            }
            return str;
        }

        
/**/</script>
    <script src="~/Scripts/LoadMain.js"></script>
</head>
<body>
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header header header-demo">
            <div class="layui-main">
                <br />
                <marquee behavior="scroll" direction="right" scrolldelay="1" scrollamount="2" onmouseover="this.stop()" onmouseout="this.start()" style="margin-top:4px;height: auto; width: 70%;">
                    <a style="color:white;" href="javascript:void(0)">
                        <i class="layui-icon" style="font-size: 15px; color: #1E9FFF;">&#xe68e;</i>    欢迎您 @ViewBag.Name
                    </a>
                </marquee>

                <ul class="layui-nav">
                    <li class="layui-nav-item ">
                        <a href="/doc/">帮助文档<!-- <span class="layui-badge-dot"></span> --></a>
                    </li>
                    <li class="layui-nav-item layui-this">
                        <a href="javascript:void(0)" onclick="ModifyPassword()">修改密码<!--  --></a>
                    </li>

                    <li class="layui-nav-item layui-hide-xs">
                        <a href="javascript:void(0)" onclick="Exit()" target="_blank">退出</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">

                <ul class="layui-nav layui-nav-tree site-demo-nav" id="opmeun">
                    <!--layui-nav-itemed-->
                    @for (int i = 0; i < ViewData.Model.Count; i++)
                    {
                        <li class="layui-nav-item">
                            <a class="javascript:;" href="javascript:;"  parentmeunid="@ViewData.Model[i].Id">
                                <i class="layui-icon" style="font-size: 15px;">&#xe63c;</i>
                                 @ViewData.Model[i].Name
                                <span class="layui-nav-more"></span>
                            </a>
                           <div class="layui-nav-child" id="childmeun">

                           </div>
                        </li>
                    }
                </ul>

            </div>
        </div>

        <div class="layui-body">
            <div class="site-demo-result">
                <iframe frameborder="0" src="" id="mainContent" name="mainContent"></iframe>
            </div>
        </div>
        <div class="layui-footer footer footer-demo" style="height: 45px; vertical-align: middle; padding-top: 0px;">
            <div class="layui-main">
                <p>&copy; 2018 <a href="/">layui.com</a> MIT license</p>
                <p>
                    <a href="http://fly.layui.com/case/2018/" target="_blank">案例</a>
                    <a href="http://fly.layui.com/jie/3147/" target="_blank">支持</a>
                    <a href="javascript:;" onclick="layer.alert('官方邮箱：xianxin@layui-inc.com <br> 客服 Q Q：572691895 <br> 客服微信：layui-kf', {title:'联系', btn: false, shadeClose: true});">联系</a>
                    <a href="https://github.com/sentsin/layui/" target="_blank" rel="nofollow">GitHub</a>
                    <a href="https://gitee.com/sentsin/layui" target="_blank" rel="nofollow">码云</a>
                    <a href="http://fly.layui.com/jie/2461/" target="_blank">微信公众号</a>
                </p>
                <p class="site-union">
                    <a href="https://www.upyun.com?from=layui" target="_blank" rel="nofollow" upyun>
                        <img src="//res.layui.com//images/other/upyun.png?t=1">
                    </a>
                    <span>提供 CDN 赞助</span>
                </p>
            </div>
        </div>

    </div>
</body>
</html>

