
@{
    Layout = null;
}


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>xx省xx石油公司 油站OA管理系统-登录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
   
   
    <style type="text/css">
        .site-demo-result {
            position: absolute;
            /* right: 0; */
            top: 0;
            bottom: 0;
            width: 100%;
        }
    </style>
    <script src="~/Scripts/jquery-3.3.1.js"></script>

    <script src="~/layui/layui.js"></script>
    <script src="~/layui/layui.all.js"></script>
    <script src="~/Scripts/jquery.json.js"></script>

    <script type="text/javascript">
        //文档加载完毕
        $(function () {

            function ChangeFormHegight() {
                $("form").css("top", (($(document).height() / 2) - $("form").height()));
            }

            ChangeFormHegight();

            $(window).resize(function () {
                ChangeFormHegight();
            });

            $("#btnLogin").click(function () {
                var index = layer.load(3);//加载请求处理等待
                //layer.msg("不开心");
                //eg1
                //layer.alert('酷毙了', {icon: 1});
                //eg2
                //layer.msg('不开心。。', {icon: 5});
                //eg3
                //layer.load(2); //风格1的加载
                $.ajax({
                    type: "post",
                    url: "/Home/Login",
                    data: { no: $("#txtNo").val(), pwd: $("#txtPwd").val() },
                    dataType: "json",
                    success: function (d, s) {
                        if (s == "success" || d != null)
                        {
                            if (d.Message == "登录成功!") {
                                window.location.href = "/Home/Index";
                            }
                            else
                            {
                                layer.alert(d.Message);
                            }
                        }
                    }
                }).done(function () {
                    layer.close(index);
                });


            });

        });

    </script>
</head>
<body style="position: relative;">
    <form id="form1" class="layui-form" style="width: 400px; margin: auto; position: relative;">
        <div class="layui-form-item"></div>
        <div class="layui-form-item">
            <label class="layui-form-label">员工编号</label>
            <div class="layui-input-inline">
                <input type="text" name="No" id="txtNo" autocomplete="off" required lay-verify="required" class="layui-input" value="0098899808">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
                <input type="password" name="Pwd" id="txtPwd" required lay-verify="required" autocomplete="off" class="layui-input">
            </div>

        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" type="button" lay-filter="formInput" data-form-sbm="1524446636424.743" id="btnLogin" style="pointer-events: auto;">登陆</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</body>
</html>