
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>组织结构管理</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/layui/layui.all.js"></script>
    <script src="~/Scripts/Common.js"></script>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            font-size: 12px;
        }

        div {
            -moz-box-sizing: border-box; /*Firefox3.5+*/
            -webkit-box-sizing: border-box; /*Safari3.2+*/
            -o-box-sizing: border-box; /*Opera9.6*/
            -ms-box-sizing: border-box; /*IE8*/
            box-sizing: border-box; /*W3C标准(IE9+，Safari5.1+,Chrome10.0+,Opera10.6+都符合box-sizing的w3c标准语法)*/
        }

        .dHead {
            height: 85px;
            width: 100%;
            position: fixed;
            z-index: 5;
            top: 0;
            overflow-x: auto;
            padding: 10px;
        }

        .dBody {
            width: 100%;
            overflow: auto;
            top: 90px;
            position: absolute;
            z-index: 10;
            bottom: 5px;
        }

        .layui-btn-xstree {
            height: 35px;
            line-height: 35px;
            padding: 0px 5px;
            font-size: 12px;
        }
    </style>
</head>

<body>
    <div style="height: 100%">
        <div class="layui-layer-title layui-bg-green" id="selectStatus">
            <label style="color: white;"> 基础信息维护<i class="layui-icon"> &#xe65b;</i> 组织机构管理</label>
            <a class="layui-btn layui-btn-primary layui-btn-sm" onclick="AddChildOrg()" lay-filter="addChild"> 添加子机构</a>
            <a class="layui-btn layui-btn-primary layui-btn-sm" lay-filter="update" onclick="UpdateData();" id="btnUpdate"> 修改机构</a>
            <a class="layui-btn layui-btn-primary layui-btn-sm" lay-filter="delete" onclick="DeleteDate();"> 删除机构及其子机构</a>
        </div>
        <div class="dBody">
            <table class="layui-hidden" id="treeTable" lay-filter="treeTable"></table>
        </div>
    </div>
    <script>
        if (@ViewBag.SelectStatus == "0") {
            $("#selectStatus").hide();
        }
        else {
            $("#selectStatus").show();
        }

        var editObj = null, ptable = null, treeGrid = null, tableId = 'treeTable', layer = null;
        //导入插件的资源配置文件
        layui.config({
            base: '/design/extend/'			//步骤2中引入的资源文件夹的路径
        }).extend({
            treeGrid: 'treeGrid'			//引入treeGrid扩展
        }).use(['jquery', 'treeGrid', 'layer'], function () {
            var $ = layui.jquery;
            treeGrid = layui.treeGrid;//很重要
            layer = layui.layer;
            ptable = treeGrid.render({
                id: tableId,			//视图中table标签的id
                elem: '#' + tableId,
                url: '/OrganizationManger/GetOrganizeTreeData',			  //后台提供树形json数据的控制器方法
                treeId: 'Id',//树形id字段名称			  //后台数据的主键
                idField: 'Id',//树形id字段名称			  //树形控件的主键
                treeUpId: 'ParentId', //树形父id字段名称
                treeShowName: 'Name',//以树形式显示的字段
                cellMinWidth: 100,
                height: '100%',
                isFilter: false,
                iconOpen: true,//是否显示图标【默认显示】
                isOpenDefault: false,//节点默认是展开还是折叠【默认展开】
                loading: true,
                method: 'get',
                isPage: false,
                cols: [[
                    { field: 'Id',type: 'radio' },			//单选框列
                    { field: 'Name', width: 200, title: '组织机构名称', align: "center" }
                    , { field: 'Code', width: 200, title: '代码', align: "center" }
                    , {
                        field: 'Leve',width: 100, title: '区域级别', align: "center", templet: function (da) {							//将区域等级数字转换为对应级别的汉字
                            if (da.Leve == "0") {
                                return "总部";
                            }
                            else if (da.Leve == "1")
                                return "大区";
                            else if (da.Leve == "2")
                                return "区域";
                            else if (da.Leve == "3")
                                return "油站";
                        }
                    },
                     {
                           field: 'Select', width: 100, title: '选择',  align: "center",templet: function (data) {
                           return "<a class=\"layui-btn layui-btn-sm layui-btn-normal\" href=\"javascript:void(0)\" onclick=\"ChoiceConfirm('" + data.Id + "','" + data.Name + "')\">选择</a>";
                       }
                     }
                ]],
                done: function () {
                    //选择组织时 隐藏单选框列 显示选择列
                    if (@ViewBag.SelectStatus == "0") 
                    {
                        $("[data-field='Id']").css('display', 'none');
                        $("[data-field='Select']").css('display', 'display');
                    }
                    else {
                        //浏览时 隐藏选择列 显示单选框列
                        $("[data-field='Select']").css('display', 'none');
                        $("[data-field='Id']").css('display', 'display');
                    }

                }

            });
        });

        //添加子节点
        function AddChildOrg() {
            //获取选择的树节点
            var data = treeGrid.radioStatus(tableId);
            //判断是否选中
            if (JSON.stringify(data) == "{}") {
                layer.msg("没有选择父级组织结构不能增加子级组织");
            }
            else {
                var index = layer.load(2);
                layer.open({
                    type: 2,
                    content: "/OrganizationManger/AppendOrganize?gid=" + data.Id,
                    area: ['460px', '420px'],
                    title: "添加组织结构"
                });
                layer.close(index);//请求完毕 关闭
            }
        }

        //修改当前节点的信息
        function UpdateData() {
            //获取选择的树节点
            var data = treeGrid.radioStatus(tableId);
            //判断是否选中
            if (JSON.stringify(data) == "{}") {
                layer.msg("没有选择父级组织结构不能增加子级组织");
            }
            else {
                var index = layer.load(2);
                layer.open({
                    type: 2,
                    content: "/OrganizationManger/UpdateOrganize?gid=" + data.Id,
                    area: ['460px', '420px'],
                    title: "修改组织结构"
                });
                layer.close(index);//请求完毕 关闭
            }
        }

        //移除节点
        function DeleteDate() {

            var data = treeGrid.radioStatus(tableId);
            //判断是否选中
            if (JSON.stringify(data) == "{}") {
                layer.msg("没有选择父级组织结构不能增加子级组织");
            }
            else {
                var index = layer.load(2);
                DelAction(data.Id);
                layer.close(index);//请求完毕 关闭
            }



        }

        function DelAction(id) {
            layer.confirm("确定要删除吗？",
                {
                    btn: ["确定", "取消"]
                }, function (index, layero) {
                    var index = layer.load(3);
                    $.post("/OrganizationManger/DeleteById", { gid: id }, function (d, s) {

                        if (d == "T") {
                            layer.msg("删除操作成功!");
                            //重新刷新父界面中的表格数据 test为父窗口中表格的id号
                            layui.table.reload('test');
                            treeGrid.query(tableId);//重新加载
                        } else {
                            layer.msg("删除操作失败!");
                        }
                    }).done(function () {
                        layer.close(index);//请求完毕 关闭
                    });
                }, function () {
                    //取消操作的代码
                    //do nothing
                });
        }

        //传值到父窗口页面的json
        function ChoiceConfirm(id, name) {
            parent.org.Id = id;
            parent.org.Name = name;
            CloseLayerWindown();									

        }

    </script>
</body>
</html>
